* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    font-family: 'Segoe UI';
}

header {
    background-color: aliceblue;
    flex-direction: row;
}
header, footer {
    width: 100vw;
    display: flex;
}

body {
    background-color: rgb(163, 172, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#autovideo{
    height: 450px;
}

a {
    color: black;
}

header nav {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
header a {
    margin-left: 20px;
    margin-top: 30px;
    width: auto;
    height: 120px;
}
header a img {
    height:80%;
    width: auto;
    object-fit: cover;
}

header nav p {
    font-weight: lighter;
    font-size: 25px;
    padding: 20px;
    padding-bottom: 10px;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-self: center;
    width: 100%;
    padding-bottom: 10px;
}
.horizontal-list li {
    margin: 10px;
}
.horizontal-list li a:hover {
    text-decoration: underline;
    color: rgb(137, 146, 224);
}
.horizontal-list li a {
    font-weight: 400;
    font-size: 20px;
    padding: 5px 8px;
    background-color: rgba(255, 255, 255, 0);
}
#links {
    justify-content: space-evenly;
}
#selected {
    border-radius: 20px;
    background-color: rgba(137, 146, 224, 0.169);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

main{
    background-color: rgb(163, 172, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
}

main section{
    width: 44.2%;
    height: 380px;
    padding: 10px;
}

#tandvard{
    background-color: rgb(225, 227, 255);
}

#tandvard p{
    width: 70%;
}

#spa{
    background-color: rgb(200, 205, 255);
}

#spa p{
    width: 70%;
}

main div{
    height: 350px;
    width: 90%;
    padding: 10px;
    background-color: rgb(200, 205, 255);
}
footer{
    background-color: rgb(54, 54, 153);
    height: 170px;
    display: flex;
    flex-direction: column;
    height: 200px;

}

footer h2{
    margin-left: 50px;
}

footer div{
    margin-left: 50px;
    height: 150px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
}

footer div a{
    width: 30px;
    height: 30px;
}

footer div a img{
    width: 30px;
    height: 30px;
}

footer h6{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1vw;
}


.packetcard{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 15px;
    padding: 0;
    width: 28%;
    height: 80%;
    background-color: rgb(200, 205, 255);
    overflow: hidden;
    justify-content: center;
}

.packetcard section p{
    width: 180px;
    align-self: center;
    text-align: center;
}

.bokabutton a{
    color: blue;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    width: 40px;
}

.packetcard img{
    width: 100%;
    height: 50%;
}

#packetbackround{
    display: flex;
    background-color: rgb(119, 120, 162);
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
}

#packetbackround h2{
    height: 40px;
    width: 100%;
    text-align: center;
}

.packetcard section{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

.bokabutton{
    align-self: center;
    margin-top: 20px;
    width: auto;
    height: auto;
}

h1, h2 {
    color: rgba(50, 58, 129, 0.833);
}

input::placeholder {
color: white;
opacity: 0.6;
}

input[type=date] {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgba(50, 58, 129, 0.6);
    color: white;

    border-radius: 8px;
    border: none;
}

input[type=checkbox] {
    accent-color: rgba(50, 58, 129, 0.833);
    border: none;
}

input:focus {
    border: none;
}


#booking-options, #booking-info, #booking-times {
    border-left: rgba(50, 58, 129, 0.833) solid 5px;
}

#booking-info, #booking-times {
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
}

#booking-times {
    align-items: center;
}

#booking-info {
    padding: 0 30px;
}

#booking-options {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}

#booking-options h2, #booking-options ul li {
    margin: 15px;
    margin-left: 25px;

    transition: 250ms;
}

#booking-options ul li {
    background-color: rgba(72, 84, 190, 0.607);
    font-size: 20px;
    padding: 5px;
    border-left: rgba(0, 0, 0, 0) solid 5px;
    border-radius: 5px;
}

#booking-options ul li a {
    display: block;
    color:white;
}

#booking-options ul li:hover {
    margin-left: 30px;
    border-left: rgba(50, 58, 129, 0.833) solid 5px;
    background-color: rgba(72, 84, 190, 0.833);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#booking-info h2 {
    margin-top: 15px;
}

#booking-info label {
    margin-top: 10px;
}

#booking-info input[type=text] {
    padding: 5px;
    border-radius: 5px;
    width: 75%;
}

#booking-info input {
    color: white;
    font-size: 15px;
    border: none;
    box-shadow: none;

    background-color: rgba(72, 84, 190, 0.607);
}

#tandlack {
    width: 75%;
    background-color: rgba(72, 84, 190, 0.607);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#tandlack:hover {
    background-color: rgba(72, 84, 190, 0.9);
}

#booking {
    display: flex;
    width: 100vw;
}

#booking form {
    display: flex;
    width: calc(100% * 2/3);
}

.time {
    filter:opacity(70%);
    background-color: rgb(72, 84, 190);
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.time p {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.time-submit {
    filter:opacity(70%);
    background-color: rgb(72, 190, 76);
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

.time-submit p {
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.time:hover, .time-submit:hover {
    filter:opacity(100%)
}

.invisible-radio {
    /* per https://a11yproject.com/posts/how-to-hide-content/ */
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.invisible-radio + label {
    width: 80%;
}

.invisible-radio:checked + label div {
    background-color: rgb(46, 53, 117);
    filter:opacity(100%)
}

.unavailable {
    display: none;
}

h2 {
    margin-top: 25px;
}
