<<<<<<< HEAD:style.css
* {
    padding: 0;
    margin: 0;
}


footer{
    background-color: blue;
    height: 170px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
}

main section{
    width: 45%;
    height: 380px;
    padding: 10px;
}

#tandvard{
    border: solid;
    background-color: rgb(225, 227, 255);
}

#spa{
    border: solid;
    background-color: rgb(200, 205, 255);
}

main div{
    height: 350px;
    width: 45%;
    padding: 12px;
=======
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI';
}


footer{
    background-color: blue;
    height: 170px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
}

main section{
    width: 45%;
    height: 350px;
    padding: 10px;
}

#tandvard{
    border: solid;
    background-color: rgb(225, 227, 255);
}

#spa{
    border: solid;
    background-color: rgb(200, 205, 255);
}

main div{
    height: 350px;
    width: 45%;
    padding: 12px;
>>>>>>> a694e889e56066cb1523d8d47cedfe9fa4ea82ec:css/style.css
}