* {
    padding: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    font-family: 'Segoe UI';
}

header a img {
    scale: 0.7;
}

html {
    overflow-y: scroll;
}

footer{
    background-color: blue;
    height: 170px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgb(163, 172, 255);
}

main{
    background-color: rgb(163, 172, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
}

main section{
    width: 45%;
    height: 380px;
    padding: 10px;
}

#tandvard{
    border: solid;
    background-color: rgb(225, 227, 255);
}

#spa{
    border: solid;
    background-color: rgb(200, 205, 255);
}

main div{
    height: 350px;
    width: 45%;
    padding: 12px;
}