* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden ;
}

header {
    background-color: aliceblue;
}
header, footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}


a {
    color: black;
}

.page-holder {
    width: 1000px;
}
header .page-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .page-holder a img {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.horizontal-list li {
    margin: 10px;
}
.horizontal-list li:hover {
    text-decoration: underline;
}

/*placeholder header*/
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(210, 214, 255);
}

body {
    background-color: rgb(163, 172, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main div{
    height: auto;
}
#left {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: pink;

}
#left img{
    width: 100%;
    height: auto;
}

#right {
    width: 60%;
    background-color: red;

}