* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

header {
    background-color: rgb(143, 196, 241);
}
header, footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}
main {
    background-color: rgba(143, 195, 241, 0.653);
    padding: 40px 60px;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    font-weight: bold;
}

.page-holder {
    width: 1200px;
}
header .page-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
header .page-holder a {
    height: 100px;
    width: 700px;
}
header .page-holder a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.horizontal-list li {
    margin: 10px;
}
.horizontal-list li:hover {
    text-decoration: underline;
}