* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: aliceblue;
}
header, footer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer{
    background-color: blue;
    height: 170px;
}

body {
    background-color: rgb(104, 116, 225);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: 100vw;
}

main section{
    width: 45%;
    height: 350px;
    padding: 10px;
}

#tandvard{
    border: solid;
    background-color: rgb(225, 227, 255);
}

#spa{
    border: solid;
    background-color: rgb(200, 205, 255);
}

main div{
    height: 350px;
    width: 45%;
    padding: 12px;
}

a {
    color: black;
}
